# Directories
/.bundle/
/.vscode
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Files
*.a
*.bundle
*.lock
*.log
*.o
*.so
*.sqlite3
*.sublime*
.byebug_history
log
mkmf.log
tmp
